// COLORS
$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;

$color-gray-light-1: #faf9f9;
$color-gray-light-2: #f4f2f2;
$color-gray-light-3: #f0eeee;
$color-gray-light-4: #ccc;

$color-gray-dark-1: #333;
$color-gray-dark-2: #777;
$color-gray-dark-3: #999;

$color-white: #fff;
$color-black: #000;

$shadow-dark: 0 2rem 6rem rgba($color-black, .3);
$shadow-dark-subtle: 0 2rem 5rem rgba($color-black, .06);

$line: 1px solid $color-gray-light-2;

// BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 68.75em;  // 1100px
$bp-medium: 68.25em; // 900px
$bp-small: 37.5em;   // 600px
$bp-smallest: 31.25em; // 500px