.gallery {
    display: flex;
    overflow: hidden;

    &__item {
        position: relative;
    }

    &__photo {
        width: 100%;
        display: block;
        
        &:hover ~ &-caption {
            opacity: 1;
            visibility: visible;
            right: 0; 
        }

        &-caption {
            position: absolute;
            bottom: 0;
            right: -20rem;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            padding: 1rem 3rem;
            background-color: rgba($color-black, 0.5);
            color: $color-gray-light-1;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.2rem;
            border-left: 0.8rem solid $color-primary-dark;
            transition: all 0.3s ease-out;

            @media only screen and (max-width: $bp-ultra-small) {
                padding: 0.5rem 1rem;
            }
        }
    }
}

.overview {
    @include flexCenter;
    border-bottom: $line;

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__icon {

        &-star,
        &-location {
            width: 1.75rem;
            height: 1.75rem;
            fill: $color-primary;
        }

        &-location {
            margin-right: .5rem;
        }
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        vertical-align: center;
    }

    &__rating {
        background-color: $color-primary;
        color: $color-white;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;

        @include flexCenter;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }

        &-count {
            font-size: .8rem;
            text-decoration: uppercase;

            @media only screen and (max-width: $bp-small) {
                font-size: .5rem;
            }
        }

        &-average {
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;

            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
            }
        }
    }
}