.review {
    background-color: $color-white;
    box-shadow: $shadow-dark-subtle;
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $bp-largest) {
        padding: 2rem;
        margin-bottom: 3rem;
    }

    &__text {
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;
    }

    &__user {
        @include flexCenter;


        &-box {
            margin-right: auto;
        }

        &-name {
            font-size: 1.1rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: .4rem;
        }

        &-date {
            font-size: 1rem;
            color: $color-gray-dark-3;
        }
    }

    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__rating {
        color: $color-primary;
        font-size: 2.2rem;
        font-weight: 300;
    }

    &::before {
        content: '\201C';
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        font-family: sans-serif;
        color: $color-gray-light-2;
        z-index: 1;
    }
}