.user-nav {
    align-self: stretch;
    
    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        @include flexCenter; 

        @media only screen and (max-width: $bp-smallest) {
            padding: 1.7rem 2rem;
        }

        &:hover {
            background-color: $color-gray-light-2;
        }
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: $color-gray-dark-2;
    }

    &__notification {
        font-size: 1rem;
        font-weight: bold;

        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: $color-primary;
        color: $color-white;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        @include flexCenter; 
        justify-content: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}